<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%relative %level [%thread] %logger{25} %message\n</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT-only-INFO" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%relative %level [%thread] %logger{25} %message\n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>NEUTRAL</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<appender name="FILE-at-least-WARN" class="ch.qos.logback.core.FileAppender">
		<File>errors.log</File>
		<Append>TRUE</Append>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
	<appender name="STDERR-at-least-WARN" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%relative %level [%thread] %logger{25} %message\n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<File>detailed.log</File>
		<Append>FALSE</Append>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.decisiondeck.xmcda_oo.utils.matrix.FloatMatrix"
		level="INFO" />
	<logger name="org.decisiondeck.xmcda_oo.utils.EvaluationsStatistics"
		level="INFO" />
	<logger name="org.decisiondeck.jmcda.services.outranking.Concordance"
		level="INFO" />
	<logger name="org.decisiondeck.jmcda.services.outranking.Discordance"
		level="INFO" />
	<logger name="org.decisiondeck.jmcda.services.outranking.Outranking"
		level="INFO" />
	<logger name="org.decisiondeck.jmcda.xws.client.XWSClient" level="INFO" />
	<logger name="org.decisiondeck.jlp.cplex.SolverCPLEX" level="INFO" />
	<logger name="fr.ecp.lgi.disaggregation.DisaggregationProblemBuilder"
		level="INFO" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT-only-INFO" />
		<appender-ref ref="STDERR-at-least-WARN" />
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE-at-least-WARN" />
	</root>
</configuration>
